[submodule "vim/bundle/vim-sensible"]
	path = vim/vimfolder/bundle/vim-sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule "vim/bundle/nerdtree"]
	path = vim/vimfolder/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
