[submodule "vim/bundle/vim-sensible"]
	path = vim/vimfolder/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "vim/bundle/nerdtree"]
	path = vim/vimfolder/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/vimfolder/bundle/vim-airline"]
	path = vim/vimfolder/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "vim/vimfolder/bundle/vim-easymotion"]
	path = vim/vimfolder/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion
[submodule "vim/vimfolder/bundle/vim-multiple-cursors"]
	path = vim/vimfolder/bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "vim/vimfolder/bundle/vim-fugitive"]
	path = vim/vimfolder/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/vimfolder/bundle/vim-abolish"]
	path = vim/vimfolder/bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "vim/vimfolder/bundle/vim-speeddating"]
	path = vim/vimfolder/bundle/vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule "vim/vimfolder/bundle/vim-surround"]
	path = vim/vimfolder/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/vimfolder/bundle/vim-repeat"]
	path = vim/vimfolder/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/vimfolder/bundle/syntastic"]
	path = vim/vimfolder/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/vimfolder/bundle/vim-json"]
	path = vim/vimfolder/bundle/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule "vim/vimfolder/bundle/vim-gitgutter"]
	path = vim/vimfolder/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim/vimfolder/bundle/ctrlp.vim"]
	path = vim/vimfolder/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/vimfolder/bundle/vim-misc"]
	path = vim/vimfolder/bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule "vim/vimfolder/bundle/vim-shell"]
	path = vim/vimfolder/bundle/vim-shell
	url = https://github.com/xolox/vim-shell.git
[submodule "vim/vimfolder/bundle/vim-ps1"]
	path = vim/vimfolder/bundle/vim-ps1
	url = https://github.com/PProvost/vim-ps1.git
[submodule "vim/vimfolder/bundle/vim-markdown"]
	path = vim/vimfolder/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vim/vimfolder/bundle/vim-coffee-script"]
	path = vim/vimfolder/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/vimfolder/bundle/vim-mustache-handlebars"]
	path = vim/vimfolder/bundle/vim-mustache-handlebars
	url = git@github.com:mustache/vim-mustache-handlebars.git
[submodule "vim/vimfolder/bundle/emmet-vim"]
	path = vim/vimfolder/bundle/emmet-vim
	url = git@github.com:mattn/emmet-vim.git
[submodule "vim/vimfolder/bundle/vim-puppet"]
	path = vim/vimfolder/bundle/vim-puppet
	url = git@github.com:rodjek/vim-puppet.git
[submodule "vim/vimfolder/bundle/ag.vim"]
	path = vim/vimfolder/bundle/ag.vim
	url = git@github.com:rking/ag.vim.git
[submodule "vim/vimfolder/bundle/vim-unimpaired"]
	path = vim/vimfolder/bundle/vim-unimpaired
	url = git@github.com:tpope/vim-unimpaired.git
[submodule "vim/vimfolder/bundle/tabular"]
	path = vim/vimfolder/bundle/tabular
	url = git@github.com:godlygeek/tabular.git
[submodule "vim/vimfolder/bundle/vim-jade"]
	path = vim/vimfolder/bundle/vim-jade
	url = git@github.com:digitaltoad/vim-jade.git
[submodule "vim/vimfolder/bundle/editorconfig-vim"]
	path = vim/vimfolder/bundle/editorconfig-vim
	url = git@github.com:editorconfig/editorconfig-vim.git
[submodule "vim/vimfolder/bundle/python-mode"]
	path = vim/vimfolder/bundle/python-mode
	url = git@github.com:klen/python-mode.git
[submodule "vim/vimfolder/bundle/vim-go"]
	path = vim/vimfolder/bundle/vim-go
	url = git@github.com:fatih/vim-go.git
[submodule "vim/vimfolder/bundle/YouCompleteMe"]
	path = vim/vimfolder/bundle/YouCompleteMe
	url = git@github.com:Valloric/YouCompleteMe.git
[submodule "vim/vimfolder/bundle/vim-dispatch"]
	path = vim/vimfolder/bundle/vim-dispatch
	url = git://github.com/tpope/vim-dispatch.git
[submodule "vim/vimfolder/bundle/omnisharp-vim"]
	path = vim/vimfolder/bundle/omnisharp-vim
	url = https://github.com/OmniSharp/omnisharp-vim.git
[submodule "vim/vimfolder/bundle/vim-javascript"]
	path = vim/vimfolder/bundle/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule "vim/vimfolder/bundle/vim-javascript-syntax"]
	path = vim/vimfolder/bundle/vim-javascript-syntax
	url = git@github.com:jelera/vim-javascript-syntax.git
[submodule "vim/vimfolder/bundle/rust.vim"]
	path = vim/vimfolder/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "vim/vimfolder/bundle/vim-tmux-navigator"]
	path = vim/vimfolder/bundle/vim-tmux-navigator
	url = git@github.com:christoomey/vim-tmux-navigator.git
[submodule "vim/vimfolder/bundle/typescript-vim"]
	path = vim/vimfolder/bundle/typescript-vim
	url = git@github.com:leafgarland/typescript-vim.git
[submodule "vim/vimfolder/bundle/tern_for_vim"]
	path = vim/vimfolder/bundle/tern_for_vim
	url = git@github.com:ternjs/tern_for_vim.git
[submodule "vim/vimfolder/bundle/vim-elixir"]
	path = vim/vimfolder/bundle/vim-elixir
	url = git@github.com:elixir-lang/vim-elixir.git
