[submodule "vim/bundle/vim-sensible"]
	path = vim/vimfolder/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "vim/bundle/nerdtree"]
	path = vim/vimfolder/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/vimfolder/bundle/vim-airline"]
	path = vim/vimfolder/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "vim/vimfolder/bundle/vim-easymotion"]
	path = vim/vimfolder/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion
[submodule "vim/vimfolder/bundle/vim-multiple-cursors"]
	path = vim/vimfolder/bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "vim/vimfolder/bundle/vim-fugitive"]
	path = vim/vimfolder/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/vimfolder/bundle/vim-abolish"]
	path = vim/vimfolder/bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "vim/vimfolder/bundle/vim-speeddating"]
	path = vim/vimfolder/bundle/vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule "vim/vimfolder/bundle/vim-surround"]
	path = vim/vimfolder/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/vimfolder/bundle/vim-repeat"]
	path = vim/vimfolder/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/vimfolder/bundle/syntastic"]
	path = vim/vimfolder/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/vimfolder/bundle/vim-json"]
	path = vim/vimfolder/bundle/vim-json
	url = https://github.com/elzr/vim-json.git
